<div class="container mt-4">
  <div id="map"></div>
</div>

<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>

  <!--<select id="selector" class="map-control">-->
  <!--  <option value="default">Default</option>-->
  <!--  <option value="silver">Silver</option>-->
  <!--  <option value="night">Night</option>-->
  <!--</select>-->